@value v-padding-block, v-red, m-medium from './theme.module.css';

.modal {
  composes: modal from './theme.module.css';
}

.grid {
  display: grid;
  grid-template:
    'email password' auto
    'delete delete' auto /
    1fr 1fr;
  gap: v-padding-block;
}

.newEmail {
  composes: form from './theme.module.css';
  grid-area: email;
}

.newPassword {
  composes: form from './theme.module.css';
  grid-area: password;
}

.delete {
  composes: redButton from './theme.module.css';
  grid-area: delete;
}

.currentPassword {
  composes: form from './theme.module.css';
}

@media m-medium {
  .grid {
    grid-template:
      'email' auto
      'password' auto
      'delete' auto /
      1fr;
  }
}
