@import 'bootstrap/scss/bootstrap';

.mt-navbar {
  margin-top: 3.5rem;
}

.b-0 {
  bottom: 0;
}

.z-1030 {
  z-index: $zindex-fixed;
}

@include media-breakpoint-up($name: sm) {
  .h-sm-100 {
    height: 100%;
  }
}

.spacer {
  height: 3.5rem;
}
