@value m-medium, m-medium, v-red, v-white, v-blue, v-blue-hover, v-black, v-padding-inline, v-background-gray, v-background-gray-hover, v-font-size-3, v-border-radius, v-background-gray-transparent from './index.module.css';

html,
body,
:global(#root),
.container {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui;
}

.container {
  display: grid;
  grid-template:
    'navbar navbar' auto
    'sidebar main' 1fr /
    auto 1fr;
}

.mainContainer {
  grid-area: main;
  overflow: auto;
}

.main {
  padding: v-padding-inline;
}

.error {
  position: fixed;
  bottom: 0;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: v-padding-inline;
  color: v-white;
  background: v-red;
  border: none;
}

.error[hidden] {
  display: none;
}

.errorSpan {
  flex-grow: 1;
  width: 0;
}

.errorButton {
  color: inherit;
  background: none;
  border: none;
}

.errorButton:hover {
  color: v-background-gray-hover;
}

.navbar {
  display: flex;
  grid-area: navbar;
  align-items: center;
  color: v-background-gray;
  background: v-black;
}

.navbarItem {
  display: block;
  margin: v-padding-inline;
}

.navbarSpan {
  composes: navbarItem;
  font-weight: 700;
  font-size: v-font-size-3;
}

.navbarLink {
  composes: navbarItem;
  color: inherit;
  text-decoration: none;
  transition: color 0.15s;
}

.navbarLinkActive {
  composes: navbarLink;
  font-weight: 700;
}

.navbarLink:hover {
  color: v-background-gray-hover;
}

.navbarButton {
  composes: button from './index.module.css';
  composes: navbarItem;
  margin-left: auto;
  color: v-background-gray;
  background: none;
  border: 2px solid v-background-gray;
}

.navbarButton:hover {
  background: v-background-gray-transparent;
}

.sidebar {
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
  padding: v-padding-inline v-padding-inline v-padding-inline 0;
  background: v-background-gray;
}

.sidebarLink {
  display: block;
  padding: v-padding-inline;
  color: v-blue;
  text-decoration: none;
  transition: color 0.15s;
}

.sidebarLinkActive {
  display: block;
  padding: v-padding-inline;
  color: v-background-gray;
  text-decoration: none;
  background: v-blue;
  border-radius: 0 v-border-radius v-border-radius 0;
}

.sidebarLink:hover {
  color: v-blue-hover;
}

@media m-medium {
  .container {
    grid-template:
      'navbar' auto
      'main' 1fr /
      1fr;
  }

  .sidebar {
    display: none;
  }

  .navbarLinkActive {
    display: none;
  }
}
