@value m-medium, v-white, v-blue, v-blue-hover, v-border-gray, v-padding-inline, v-padding-block, v-background-light-gray from 'index.module.css';

.button {
  composes: button from "./index.module.css";
  width: 100%;
  margin-top: v-padding-block;
  color: v-white;
  background: v-blue;
  border: none;
}

.button:hover {
  background: v-blue-hover;
}

.modal {
  composes: modal from "./index.module.css";
  box-sizing: border-box;
  width: 100%;
}

.editGrid {
  display: grid;
  grid-template: "edit preview" auto / 2fr 1fr;
  gap: v-padding-block;
}

.edit {
  grid-area: edit;
}

.tableContainer {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  border-top: 1px solid v-border-gray;
  border-bottom: 2px solid v-border-gray;
}

.table th,
.table td {
  padding: v-padding-inline;
}

.table tr:nth-child(even) {
  background-color: v-background-light-gray;
}

.buttonGrid {
  display: grid;
  grid-template:
    "newSlideshow newEmbed" auto
    "close close" auto /
    1fr 1fr;
  gap: v-padding-block;
}

.form {
  composes: form from "./index.module.css";
  grid-area: close;
}

.newSlideshow {
  composes: button;
  grid-area: newSlideshow;
}

.newEmbed {
  composes: button;
  grid-area: newEmbed;
}

.closeButton {
  width: 100%;
}

@media m-medium {
  .editGrid {
    grid-template:
      "edit" auto
      "preview" auto / auto;
  }
}
