@value v-white, v-blue, v-blue-hover, v-padding-block from 'index.module.css';

.button {
  composes: button from "./index.module.css";
  width: 100%;
  margin-top: v-padding-block;
  color: v-white;
  background: v-blue;
  border: none;
}

.button:hover {
  background: v-blue-hover;
}
