@value v-padding-inline, v-border-gray, v-border-radius from './index.module.css';

.number {
  box-sizing: border-box;
  width: 100%;
  padding: v-padding-inline;
  border: 1px solid v-border-gray;
  border-radius: v-border-radius;
}

.delete {
  composes: tableButtonDelete from "./index.module.css";
}
