@value v-padding-block, m-medium, v-yellow, v-yellow-transparent from './index.module.css';

.grid {
  display: grid;
  grid-template:
    "time duration" auto
    "transition size" auto
    "refresh refresh" auto
    "advanced advanced" auto /
    1fr 1fr;
  gap: v-padding-block;
}

.time {
  composes: form from "./index.module.css";
  grid-area: time;
}

.duration {
  composes: form from "./index.module.css";
  grid-area: duration;
}

.transition {
  composes: form from "./index.module.css";
  grid-area: transition;
}

.size {
  composes: form from "./index.module.css";
  grid-area: size;
}

.refresh {
  composes: button from "./index.module.css";
  grid-area: refresh;
  color: v-yellow;
  background: none;
  border: 2px solid v-yellow;
}

.refresh:hover {
  background: v-yellow-transparent;
}

.advanced {
  grid-area: advanced;
}

.news {
  composes: form from "./index.module.css";
}

@media m-medium {
  .grid {
    grid-template:
      "time" auto
      "duration" auto
      "transition" auto
      "size" auto
      "refresh" auto
      "advanced" auto /
      1fr;
  }
}
