@value v-border-gray, v-padding-inline, v-border-radius from './index.module.css';

.preview {
  composes: tableButtonPreview from "./index.module.css";
}

.delete {
  composes: tableButtonDelete from "./index.module.css";
}

.duration {
  box-sizing: border-box;
  width: 100%;
  padding: v-padding-inline;
  border: 1px solid v-border-gray;
  border-radius: v-border-radius;
}
