@value v-border-gray, v-border-radius, v-padding-inline from './theme.module.css';

.preview {
  composes: tableButtonPreview from './theme.module.css';
}

.delete {
  composes: tableButtonDelete from './theme.module.css';
}

.duration {
  border: 1px solid v-border-gray;
  border-radius: v-border-radius;
  padding: v-padding-inline;
  width: 100%;
  box-sizing: border-box;
}
