@value v-padding-inline, v-background-gray, v-padding-block from './index.module.css';

.upload {
  composes: form from "./index.module.css";
  padding-top: v-padding-block;
}

.uploadSticky {
  composes: upload;
  position: sticky;
  bottom: 0;
  padding-bottom: v-padding-inline;
  background: v-background-gray;
}
