@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.dashboard-grid {
  display: grid;
  height: 100vh;
  grid-template:
    "navbar" auto
    "main" 1fr /
    1fr;
}

.dashboard-main {
  grid-area: main;
}

.dashboard-navbar {
  grid-area: navbar;
}

.dashboard-sidebar {
  grid-area: sidebar;
  display: none;
}

.sidebar-link {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

@include media-breakpoint-up(md) {
  .dashboard-grid {
    grid-template:
      "navbar navbar" auto
      "sidebar main" 1fr /
      auto 1fr;
  }

  .dashboard-sidebar {
    display: block;
  }
}
