@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.preview-pane {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -1.5px;
  border: 3px solid $gray-300;
}

.preview-grid-line {
  margin: -0.5px;
  border: 1px dashed $blue;
}

.preview-grid {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
}

.preview-grid-container {
  padding-top: 56.25%;
  position: relative;
}
