@import 'bootstrap/scss/bootstrap';

body {
  overflow-x: hidden;
  margin: 0;
  background: $black;
}

.loose-fixed-bottom {
  position: fixed;
  bottom: 0;
}

.slide {
  position: absolute;
  left: 0;
  right: 0;
  height: calc(100vh - 4rem - 2px);
}

.hidden {
  opacity: 0;
}

.no-wrap {
  white-space: nowrap;
}

.bold {
  font-weight: $font-weight-bolder;
}

.fixed-top-left {
  position: fixed;
  top: 0;
  left: 0;
}

.fixed-top-right {
  position: fixed;
  top: 0;
  right: 0;
}
