$font-family: system-ui;
$font-size-3: 1.17em;
$font-size-2: 1.5em;

@mixin pill {
  font-weight: 700;
  background: rgb(255, 255, 255);
  margin: 0;
  padding: 1rem;
  border-radius: 0.5rem;
}

body {
  overflow-x: hidden;
  background: rgb(0, 0, 0);
  margin: 0;
  font-family: $font-family;
}

#logo {
  position: fixed;
  top: 0;
  left: 0;
  object-fit: contain;
}

#news {
  @include pill();

  line-height: 1.2;
  position: fixed;
  bottom: 0;
  transform: translate(100vw);
  white-space: nowrap;
  font-size: $font-size-3;
}

.slide {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100vh - 2rem - 1.17em * 1.2);
  object-fit: contain;
}

.hidden {
  opacity: 0;
}

#time {
  @include pill();

  position: fixed;
  top: 0;
  right: 0;
  font-size: $font-size-2;
}
