.modal {
  border-radius: $border-radius;
  border: 1px solid $border-gray;
}

.preview {
  max-width: 40rem;
  width: 100%;
  box-sizing: border-box;
}

.preview > img {
  width: 100%;
}

#alert {
  position: fixed;
  bottom: 0;
  width: 100%;
  border: none;
  background: $red;
  color: $white;
  display: flex;
  margin: 0;
  padding: $padding-inline;
  box-sizing: border-box;
}

#alert[hidden] {
  display: none;
}

#alert > span {
  flex-grow: 1;
}

#alert > button {
  background: none;
  border: none;
  color: inherit;
}

#alert > button:hover {
  color: $background-gray-hover;
}
