.modal {
  border-radius: 0.4rem;
  border: 1px solid rgb(204, 204, 204);
}

.preview {
  max-width: 40rem;
  width: 100%;
  box-sizing: border-box;
}

.preview > img {
  width: 100%;
}

#alert {
  position: fixed;
  bottom: 0;
  width: auto;
  border: none;
  background: rgb(238, 85, 85);
  color: rgb(255, 255, 255);
  display: flex;
}

#alert:not([open]) {
  display: none;
}

#alert > span {
  flex-grow: 1;
}

#alert > button {
  background: none;
  border: none;
  color: inherit;
}

#alert > button:hover {
  color: rgb(221, 221, 221);
}
