.form {
  display: flex;
}

.form > * {
  padding: $padding-inline;
  border-left: none;
  border-right: 1px solid $border-gray;
  border-top: 1px solid $border-gray;
  border-bottom: 1px solid $border-gray;
  margin: 0;
}

.form > :first-child {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  border-left: 1px solid $border-gray;
}

.form > :last-child {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.form > input,
.form > select {
  flex-grow: 1;
}

.form > label,
.form > button,
.form > span {
  background: $background-gray;
}

.form > button {
  transition: background 0.15s;
}

.form > button:hover {
  background: $background-gray-hover;
}

.red-button {
  @include button($color: $red, $background: none, $border: 2px solid $red);
}

.red-button:hover {
  background: rgba($red, 0.1);
}

.sticky {
  position: sticky;
  bottom: 0;
  padding-bottom: $padding-inline;
  background: $white;
}
