header > h1 {
  margin: 0;
}

header > p {
  font-size: $font-size-3;
  color: $text-gray;
  font-weight: 200;
}

section {
  margin-bottom: $margin-section;
}

section:last-child {
  margin-bottom: 0;
}
