header > h1 {
  margin: 0;
}

header > p {
  font-size: $font-size-3;
  color: rgb(68, 68, 68);
  font-weight: 200;
}

section {
  margin-bottom: 4.6rem;
}

section:last-child {
  margin-bottom: 0;
}
