#navbar {
  background: $black;
  display: flex;
  align-items: center;
  color: $background-gray;
  grid-area: navbar;
}

#navbar > * {
  margin: $padding-inline;
  display: block;
}

#navbar > span {
  font-size: $font-size-3;
  font-weight: 700;
}

#navbar > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.15s;
}

#navbar > a.active-link {
  font-weight: 700;
}

#navbar > button {
  margin-left: auto;
  padding: $padding-inline;
  border-radius: $border-radius;
  border: 2px solid $background-gray;
  background: none;
  transition: background 0.15s;
  color: $background-gray;
}

#navbar > a:hover {
  color: $background-gray-hover;
}

#navbar > button:hover {
  background: rgba($background-gray-hover, 0.1);
}

@media (max-width: $xs) {
  #navbar > .active-link {
    display: none;
  }
}
