#sidebar {
  display: flex;
  flex-direction: column;
  padding: $padding-inline $padding-inline $padding-inline 0;
  background: $background-gray;
  flex-grow: 1;
}

#sidebar > a {
  text-decoration: none;
  color: $blue;
  padding: $padding-inline;
}

#sidebar > a.active-link {
  text-decoration: none;
  color: $background-gray;
  background: $blue;
  border-radius: 0 $border-radius $border-radius 0;
}

#sidebar > a:hover {
  color: $blue-hover;
}

@media (max-width: $sm) {
  #sidebar {
    display: none;
  }

  main {
    grid-column-end: span 2;
  }
}
