#sidebar {
  display: flex;
  flex-direction: column;
  padding: $padding-inline $padding-inline $padding-inline 0;
  background: $background-gray;
  grid-area: sidebar;
}

#sidebar > a {
  text-decoration: none;
  color: $blue;
  padding: $padding-inline;
}

#sidebar > a:not(.active-link) {
  transition: color 0.15s;
}

#sidebar > a.active-link {
  text-decoration: none;
  color: $background-gray;
  background: $blue;
  border-radius: 0 $border-radius $border-radius 0;
}

#sidebar > a:not(.active-link):hover {
  color: $blue-hover;
}

@media (max-width: $sm) {
  #sidebar {
    display: none;
  }
}
