td > button {
  padding: $padding-inline;
  border-radius: $border-radius;
  background: $blue;
  transition: background 0.15s;
  border: none;
  color: $white;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

td > button.delete {
  background: $red;
}

td > input {
  border: 1px solid $border-gray;
  border-radius: $border-radius;
  padding: $padding-inline;
  width: 100%;
  box-sizing: border-box;
}

td > button:hover {
  background: $blue-hover;
  transition: background 0.15s;
}

td > button.delete:hover {
  background: $red-hover;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.padding {
  padding-top: $padding-block;
}

.table-scroller {
  overflow-x: auto;
}

tr:nth-child(even) {
  background-color: $background-light-gray;
}

thead {
  border-top: 1px solid $border-gray;
  border-bottom: 2px solid $border-gray;
}

th {
  font-weight: 700;
}

td,
th {
  padding: $padding-inline;
}
