$font-family: system-ui;
$font-size-3: 1.17em;
$font-size-2: 1.5em;
$font-size-1: 2em;
$sm: 700px;
$xs: 500px;
$border-radius: 0.4rem;
$padding-inline: 0.6rem;
$padding-block: 0.8rem;
$background-light-gray: rgb(246, 246, 246);
$border-gray: rgb(204, 204, 204);
$background-gray: rgb(238, 238, 238);
$background-gray-hover: color.scale($color: $background-gray, $lightness: -10%);
$red: rgb(238, 68, 68);
$red-hover: color.scale($color: $red, $lightness: -10%);
$white: rgb(255, 255, 255);
$black: rgb(34, 34, 34);
$text-gray: rgb(68, 68, 68);
$margin-section: 4.6rem;
$blue: rgb(51, 136, 221);
$blue-hover: color.scale($color: $blue, $lightness: -10%);

@mixin button ($color, $background, $border) {
  padding: $padding-inline;
  border-radius: $border-radius;
  border: $border;
  color: $color;
  background: $background;
  transition: background 0.15s;
}
